@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--font-color);
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
select {
  font: inherit;
  outline: none;
  color: inherit;
  font-size: 1em;
  padding: 1em;
  font-weight: 100;
  border: none;
  background-color: var(--secondary-bg-color);
  border-radius: .5em;
  box-shadow: 0 .25em .5em var(--shadow);
  appearance: none;
}

button {
  font: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
}

main {
  padding: 1.5em
}

h3 {
  font-weight: 600;
}