:root {
  --font-color:  hsl(200, 15%, 8%);
  --primary-bg-color: hsl(0, 0%, 98%);
  --secondary-bg-color: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0%, 90%);
}

[data-theme="dark"] {
  --font-color: hsl(0, 0%, 100%);
  --primary-bg-color: hsl(207, 26%, 17%);
  --secondary-bg-color: hsl(209, 23%, 22%);
  --shadow: hsl(207, 26%, 15%);
}
